/* 
Text color: black;
Primary Color (pink and darkgreen): #c05980 und #026670 
Secondary Color (green and darkyellow): #9FEDD7 und #FCE181
Tertiary Color (lightgrey, lightyellow): #EDEAE5 und #FEF9C7 ;
*/

:root {
	--primary-color-pink: #d11c62;
	--primary-color-darkgreen: #047000;
	--secondary-color-lightgreen: #6df300;
	--secondary-color-darkyellow: #ffc800;
	--tertiary-color-lightgrey: #a7a7a7;
	--tertiary-color-lightyellow: #fff479;

	--font-size-xs: 10px;
	--font-size-s: 14px;
	--font-size-m: 18px;
	--font-size-l: 24px;
	--font-size-xl: 32px;

	--page-box-shadow: 5px 8px #9FEDD7;

	--front-weight-400: 400;
	--front-weight-700: 700;
	--front-weight-800: 800;
	--front-weight-900: 900;
}

* {
  box-sizing: border-box;
}

body {
	font-family: 'Space Mono', monospace;
	font-weight: var(--front-weight-400);
	line-height:1.6;
	font-size: var(--font-size-m);
	min-height: 100%;
}

h1 {
	display: inline;
	font-family: 'Raleway', sans-serif;
	font-weight: var(--front-weight-900);
	font-size: var(--font-size-l);
	color: white;
	background-color: var(--primary-color-pink);
	box-shadow: var(--page-box-shadow);
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: var(--front-weight-800);
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: var(--front-weight-700);
}

a {
  color: var(--primary-color-darkgreen);
  /*Anchor elements get a opacity transition that lasts 0.5 seconds*/
  transition: 0.5s opacity
}


/*a:visited {
  color: black;
;
}*/

a:hover, a:focus {
  text-decoration: none;
/* reduces the opacity of the anchor to 40% */
  opacity: 0.4;
}

a:active {
  /* selected link */
  color: var(--primary-color-darkgreen);
}

button, .button {
	border: none;
	text-decoration: none;
	background-color: var(--primary-color-pink);
	font-size: var(--font-size-m);
	color: white;
	padding: 10px;
	border-radius: 3px;
	box-shadow: var(--page-box-shadow);
	transition: 0.3s opacity ease-in;
}

button:hover, button:focus, .button:hover, .button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary{
	background-color: var(--tertiary-color-lightyellow);
	color: black;
	box-shadow: 5px 8px #FCE181 ;
}

.page-footer {
	clear: both;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;

}

.page-header {
  display: flex;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid;
  margin-bottom: 50px;
  background-color: white;

}

.page-header__item {
  flex: 0 1 150px;
  width: 200px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style: none;
}

.navigation-list li {
	display: inline-block;
  	margin-left: 15px;
}

.navigation-list__item {
	font-size: var(--font-size-m);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile {
	max-width: 1200px;
	margin: 0 auto;
}

.profile__portrait {
	float: left;
	margin-right: 40px;
	margin-left: 40px;
	max-width: 350px;
	width: 30%;
	border-radius: 50%;
}

.profile__text {
	text-align: left;
	max-width: 1200px;
}

.contact {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

.social-media {
	text-decoration: none;
}

#asterisk-hint {
	font-size: var(--font-size-xs);
}


/* Color change from lightyellow to darkyellow */
@keyframes color-change {
	from {
		background-color: var(--tertiary-color-lightyellow);
	}
	to {
		background-color: var(--secondary-color-darkyellow);
	}
}


@supports (display: grid) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin-top: 15px;
	}

	.grid__item {
		background-color: var(--tertiary-color-lightgrey);
		padding: 20px;
		width: auto;
	    min-height: auto;
	}

	.grid__item:last-child {
		grid-column: 3 / 3;
		grid-row: 1 / 3;
	}
}

/* Layout for all screens smaller than 600px wide */
@media all and (max-width: 600px) {
	.grid {
	    grid-template-columns: 1fr;
	    grid-gap: 10px;
	}

    h1 {
		font-size: var(--font-size-m);
	}
}

/* Layout for all screens between 600px and 900px wide */
@media all and (min-width: 600px) and (max-width: 900px) {
	.grid {
    	grid-template-columns: 1fr 1fr;
    	grid-gap: 15px;
  	}
}

/* Layout for all screens up to 900px wide */
@media all and (max-width: 900px) {
	.grid__item:last-child {
		grid-column: auto / auto;
	    grid-row: auto / auto;
	}
}



